openapi: 3.0.3

info:
  title: Mobildev Academy Course API
  description: Mobildev Academy kurs arama ve listeleme API dokümantasyonu.
  version: 1.0.0

servers:
  - url: https://ucca.mobildev.in # Gerçek API URL'iniz ile değiştirebilirsiniz

tags:
  - name: Courses
    description: Kurs arama ve listeleme işlemleri

paths:
  /api/course:
    post: # GET isteklerinde Body standart dışı olduğu için POST olarak tanımlanması Redocly için en sağlıklı yöntemdir
      tags:
        - Courses
      summary: Kursları Listele
      description: Belirli filtreler, sayfalama (limit/offset) ve durum kodlarına göre kursları listeler.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourseRequest'
      responses:
        '200':
          description: Başarılı Yanıt - Kurslar Listelendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
        '400':
          description: Hatalı İstek - Geçersiz parametre gönderimi.

components:
  schemas:
    # --- İSTEK GÖVDESİ ŞEMASI ---
    CourseRequest:
      type: object
      properties:
        filter:
          type: string
          example: ""
        status:
          type: integer
          example: -1
        difficulty:
          type: string
          example: ""
        categoryId:
          type: integer
          example: -1
        offset:
          type: integer
          example: 0
        limit:
          type: integer
          example: 10

    # --- YANIT GÖVDESİ ŞEMASI ---
    CourseResponse:
      type: object
      properties:
        RecordCount:
          type: integer
          example: 10
        Result:
          type: array
          items:
            $ref: '#/components/schemas/CourseItem'

    # --- TEK BİR KURS NESNESİ ---
    CourseItem:
      type: object
      properties:
        courseId:
          type: integer
          example: 100
        title:
          type: string
          example: "Hedef Kitle Sorunlarını Not Etmek: Sistemli Sorun Belirleme"
        slug:
          type: string
          example: "hedef-kitle-sorunlarini-not-etmek"
        description:
          type: string
          example: "Bu yoğun eğitim, ürün yöneticilerinin sorun belirlemesini sağlar."
        coverImage:
          type: string
          example: "https://ucca.mobildev.in/"
        estimatedDuration:
          type: integer
          example: 25
        difficulty:
          type: string
          example: "beginner"
        language:
          type: string
          example: "tr"
        targetAudience:
          type: array
          items:
            type: string
          example: ["Ürün Yöneticileri", "Pazarlama Uzmanları"]
        prerequisites:
          type: array
          items:
            type: string
          example: ["Temel pazarlama süreçleri hakkında bilgi sahibi olmak"]
        learningOutcomes:
          type: array
          items:
            type: string
          example: ["Hedef kitleyi tanımlayabilecek"]
        moduleCount:
          type: integer
          example: 3
        tags:
          type: array
          items:
            type: string
          example: ["Mobildev", "Insan Kaynakları"]
        status:
          type: integer
          example: 0
        aiGenerated:
          type: boolean
          example: true
        aiProjectId:
          type: string
          format: uuid
          example: "5d5f1661-1111-4a0d-af31-cb0b12cd3d58"
        createdAt:
          type: integer
          example: 1781177572
        createdBy:
          $ref: '#/components/schemas/UserRef'
        updatedAt:
          type: integer
          example: 1781177641
        updatedBy:
          $ref: '#/components/schemas/UserRef'
        categoryId:
          type: integer
          example: -1
        stats:
          type: object
          properties:
            totalCourses:
              type: integer
              example: -1
            totalModules:
              type: integer
              example: -1
            averageRating:
              type: number
              example: -1

    # --- KULLANICI REFERANS ŞEMASI (CreatedBy / UpdatedBy için) ---
    UserRef:
      type: object
      properties:
        userId:
          type: integer
          example: 21
        username:
          type: string
          example: "apex1"
        name:
          type: string
          example: "Hasan Hüseyin APIK [Mobildev]"